* {
  box-sizing: border-box;
}

body {
	font-family: sans-serif;
	/*width: 960px;*/
}

#container {
	clear: both;
	float: left;
	background: lightgray;
	width: 100%;
}

h1 {
	color: blue;
	font-size: 24px;
	font-weight: bold;
	padding: 50px 50px 10px 50px;
	text-align: center;
}
.img {
	opacity: 0.3;
	width: 100%;
}

#game {
/*	float: left;*/
	font-size: 20px;
	padding: 10px;
	text-align: center;
	width: 100%;
}

#wins {
	float: left;
	padding: 20px;
	text-align: left;
	width: 100%;
	margin-left: 20px;
}

#losses {
	float: left;
	padding: 20px;
	text-align: left;
	width: 100%;
	margin-left: 20px;
}

#guessesLeft {
	float: left;
	padding: 20px;
	text-align: left;
	width: 100%;
	margin-left: 20px;
}

#userGuess {
	float: left;
	padding: 20px;
	text-align: left;
	width: 100%;
	margin-left: 20px;
}